mixin ui-choice(text, id, mods)
  -
    const baseName = 'ui-choice'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-choice(class=allMods)
    input(id=id name=name type='checkbox')&attributes(attributes)
    label(for=id) !{text}
    block
