mixin tariffs(data, dataSwitch, mods)
  -
    const baseName = 'tariffs'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .tariffs.js-table(class=allMods data-media=(data.items.length > 2 ? '' : '767'))&attributes(attributes)
    .swiper
      .swiper-wrapper
        each item, index in data.items
          .tariffs__item.swiper-slide.js-column
            +ui-h4(item.title, 'tariffs, --bold').js-ceil
            .tariffs__main
              if item.descr
                +ui-p1(item.descr, '--medium')
              if item.props
                .tariffs__props
                  each prop, inpdexProp in item.props
                    if inpdexProp > 2
                      .tariffs__prop(data-tariffs-prop-hidden='')
                        +tariffs__prop-inner(prop.name, `0${inpdexProp+1}`).js-ceil
                    else
                      .tariffs__prop
                        +tariffs__prop-inner(prop.name, `0${inpdexProp+1}`).js-ceil
              if (item.props && item.props.length > 3)
                .tariffs__more
                  +ui-p1('Показать еще', '--medium')
                  +ui-switch-button()(onclick = 'tariffsPropsToggle(this)')
            .tariffs__bottom
              .tariffs__price
                +ui-p1('Цена:', '--medium').tariffs__price-label
                if dataSwitch
                  div(data-switch-element=dataSwitch.left.attributeValue)
                    +tariffs__price-val(item.priceBefore, item.price)
                  div(style='display: none;' data-switch-element=dataSwitch.right.attributeValue)
                    +tariffs__price-val('', '250 000 ₽')
                else
                  +tariffs__price-val(item.priceBefore, item.price)
              +ui-button(item.button, 'tariffs, --white')(href='#')
            if item.footnote
              .tariffs__footnote !{item.footnote}
      if data.items.length > 2
        +ui-swiper-scrollbar('--light')
    block

mixin tariffs__prop-inner(name, index)
  .tariffs__prop-inner&attributes(attributes)
    +ui-p1(name, '--medium').tariffs__name
    +ui-p1(index, '--medium').tariffs__count

mixin tariffs__price-val(priceBefore, price)
  .tariffs__price-val.block-fade-in
    if priceBefore
      span.tariffs__price-prev !{priceBefore}
    | !{price}
